/*Login*/
#login{
    width: 400px;
    margin: 30px auto;
    padding:10px;
    height: 200px;
    border-radius: 10px;
    background-color: navy;
  }
  #login{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  }
  
  #login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #login select{
    width: 300px;
    margin: 0 auto;
    height: 30px;
    font-size: 16px;
  }
  
  #login select option{
    font-size: 16px;
    color: red;
  }
.big-text-title{
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin: 5px auto 5px;
  text-transform: uppercase;
}
